.body-container{
    width: 100%;
    height: 100vh;
}

.bodyGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(25px, auto);
}

@media only screen and (max-width: 480px) {
    .bodyGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(25px, auto);
    }
}